body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

p {
  display: block;
}

h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  display: block;
  font-weight: bold;
}

a {
  color: seashell;
  cursor: auto;
  text-decoration: underline;
}

div {
  display: block;
}

header {
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 1;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  padding-left: 10px;
}
  
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  height: 700px;
  background-image:
    url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  padding-top: 70px;
}
#mission .content {
  background-color: black;
  width: 100%;
  margin: auto;
}

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image:
    url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
}

.flex-container.locations {
  padding-top: 5px;
}

.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  height: 200px;
}

h5 {
  display: block;
  font-size: .83em;
  font-weight: bold;
}

footer {
  text-align: left;
  padding-left: 20px;
}








  




  
